include LICENSE
include AUTHORS
include README.rst
include ChangeLog
include requirements.txt
include tendrl-node-agent.service
include tendrl-message.socket
include version.py
exclude .gitignore
exclude .gitreview
graft docs
graft etc
graft tendrl
global-exclude *.pyc
