[Unit]
Description=tendrl node agent control socket
Before=sockets.target

[Socket]
ListenSequentialPacket=/var/run/tendrl/message.sock
SocketMode=0660
SocketUser=root
SocketGroup=tendrl
DirectoryMode=0755
PassCredentials=yes
RemoveOnStop=yes
