[Unit]
Description=Tendrl message socket for logging
Before=sockets.target

[Socket]
ListenSequentialPacket=/var/run/tendrl/message.sock
SocketMode=0660
SocketUser=root
SocketGroup=tendrl
DirectoryMode=0755
