[Unit]
Description= A python agent local to every managed storage node in the sds cluster
After=tendrl-node-agent.socket
Requires=tendrl-node-agent.socket

[Service]
Type=simple
Environment="HOME=/var/lib/tendrl"
Environment="ANSIBLE_HOST_KEY_CHECKING=False"
ExecStart=/usr/bin/tendrl-node-agent
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
PrivateTmp=true
RuntimeDirectory=tendrl

[Install]
WantedBy=multi-user.target
