<Plugin "python">
    ModulePath "/usr/lib64/collectd/gluster/low_weight"

    Import "tendrl_glusterfs_health_counters"

    <Module "tendrl_glusterfs_health_counters">
        integration_id "{{integration_id}}"
        graphite_host "{{ graphite_host }}"
        graphite_port "{{ graphite_port }}"
        peer_name "{{ hostname }}"
    </Module>
</Plugin>
