<Plugin "python">
    ModulePath "/usr/lib64/collectd/gluster"

    Import "tendrl_gluster"

    <Module "tendrl_gluster">
        integration_id "{{integration_id}}"
        graphite_host "{{ graphite_host }}"
        graphite_port "{{ graphite_port }}"
        peer_name "{{ fqdn }}"
        provisioner {{ is_provisioner_node }}
        etcd_host "{{ etcd_host }}"
        etcd_port {{ etcd_port }}
        {% if etcd_ca_cert_file != None %}
            etcd_ca_cert_file "{{ etcd_ca_cert_file }}"
            etcd_cert_file "{{ etcd_cert_file }}"
            etcd_key_file "{{ etcd_key_file }}"
        {% endif %}

    </Module>
</Plugin>
