---
etcd_port: 2379
etcd_connection: 0.0.0.0

# Enable etcd SSL TLS cert based auth options
#etcd_ca_cert_file: /path/to/ca_cert_file.pem
#etcd_cert_file: /path/to/client_cert_file.pem
#etcd_key_file: /path/to/client_key_file.pem


log_cfg_path: /etc/tendrl/node-agent/node-agent_logging.yaml
log_level: DEBUG
package_source_type: rpm
logging_socket_path: /var/run/tendrl/message.sock
message_retention_time: 172800 # default 2 days(2*24*60*60)
alert_retention_time: 172800 # default 2 days(2*24*60*60)
glusterfs_repo: https://buildlogs.centos.org/centos/7/storage/x86_64/gluster-3.9/
with_internal_profiling: False
graphite_host: 0.0.0.0
graphite_port: 2003

# Interval in seconds at which node level object sync/alerts are processed. Warning, lower interval will result in more resource consumption
sync_interval: 60
tags:
  - tendrl/node
