[common]

# Central store etcd port
etcd_port = 2379

# Central store etcd host/ip
etcd_connection = 0.0.0.0

# Path to log file
log_cfg_path = /etc/tendrl/common_logging.yaml
log_level = DEBUG


[node_agent]
# Path to log file
log_level = DEBUG
tendrl_exe_file_prefix = /tmp/.tendrl_runner
log_cfg_path = /etc/tendrl/node_agent_logging.yaml
